## xutconf.sample
## This is sample configuration for xut. If someone wants to alter the configuration,
## they should copy, modify and rename the file in $XDG_CONFIG_HOME/.xutconf or $HOME"/.xutconf
## Both locations are searched.

#conf_workdir is the default directory where repos are being downloaded
#into and the actuall operations take place
conf_workdir="${HOME}/.xut"
#conf_log_dir is where the log files will reside.
conf_log_dir="$conf_workdir"